# Replace this with your personal cofig
[merge]
	tool = p4merge
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "p4merge"]
	path = /usr/local/bin/p4merge
[rerere]
	enabled = 1
[color]
	status = auto
	diff = auto
	branch = auto
[color "status"]
	updated = bold yellow
	changed = yellow
	untracked = cyan
[alias]
	rollback = reset HEAD~1
	unindex = reset HEAD
	view = !gitk --all
	co = checkout
	update = pull
	up = pull
	info = config --list
	last = log -n 1
  ready = "!git add -u . ; git diff --cached"
  please = push --force-with-lease
  tidy = "git rebase -i $(git rev-list --merges --max-count=1 HEAD)"

# git will pull from ~/.config/git/ignore
# [core]
#	excludesfile = /home/hhh/.gitignore_global

[branch]
    autoseupmerge = always

#[branch "master"]
#    mergeoptions = --no-commit --no-ff

[tig "bind"]
    generic = <Ctrl-f> scroll-page-down
    generic = <Ctrl-b> scroll-page-up
